

/* site font */
@font-face 
{
    font-family: 'Montserrat';
    src: url('/assets/montserrat.ttf') format('truetype');
}

/* basic reset */
body 
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #f8f7ea;
    overflow: hidden;
}

/* -- */

.folder-container 
{
    width: 100vw;
    height: 100dvh;
}

.folder-container img 
{
    height: 3em;
    width: 3em;
}

.folder-container a
{
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: .8rem;
    margin-top: .5em;
    color: #5d4c15;
    transition: all .3s ease;
}
.folder-container a:hover 
{
    color: #0000EE;
}

/* -- */

.deck
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40%;
}
.deck .folder 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 1em;
    background-color: #f1ebe0;
}

.about-me 
{
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
